/* font-family: 'Raleway', sans-serif;
font-family: 'Montserrat', sans-serif; */

/*----------VARIABLES----------*/
:root {
  --clr-primary: #fff;
  --clr-secondary: #fc0404;
  --clr-heading: #362f2d;
  --clr-dark-btn: #1f1f1f;

  --spacer: 2rem;
}

/*---------- CSS RESET----------*/

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  border: 2px solid transparent;
  cursor: pointer;
  color: inherit;
  display: inline-block;
}

a:hover {
  border-bottom: 2px solid var(--clr-secondary);
  transition: border 0.5s;
}

form,
input,
button,
button:focus,
select {
  font-family: inherit;
  border: 0;
  font: inherit;
  margin: 0 0.2rem;
}

button:focus,
button:active {
  outline: none !important;
  box-shadow: none !important;
}

/* 
  button:active {
    transform: translateY(4px) !important;
  } */

textarea:focus,
input:focus {
  outline: none;
}

.cancel-margin {
  margin: 0 !important;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
  -webkit-tap-highlight-color: transparent; /* For some Androids */
}

/*---------- General Styles----------*/

html {
  height: 100%;
}
body {
  font-family: "Raleway", sans-serif;
  background-color: var(--clr-primary);
  margin: 0 auto;
  max-width: 1140px;
  padding: 0.5rem;
  height: 100%;
}

h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
}

.btn {
  padding: 0.7rem 1rem;
  outline: 0;
  border-radius: 25px;
}

.btn-dark {
  background-color: var(--clr-dark-btn);
  color: var(--clr-primary);
  cursor: pointer;
}

.btn-red {
  background-color: var(--clr-secondary);
  color: var(--clr-primary);
  cursor: pointer;
}

.btn-arrow {
  border-radius: 4px;
  padding: 0.6rem;
  cursor: pointer;
}

.center-text {
  text-align: center;
}

.remove-p {
  padding: 0 !important;
}

.remove-m {
  margin: 0 !important;
}

header {
  @supports (-webkit-appearance: none) {
    .os-android & {
      min-height: calc(100vh - 56px);
    }
  }
}

/*---------- Layout Styles----------*/

.split {
  display: flex;
  flex-direction: column;
}

.split > * {
  flex-basis: 100%;
}

.split > * + * {
  margin-left: 1rem;
}

@media (min-width: 40em) {
  .split {
    flex-direction: row;
  }

  .container {
    padding: 0 3rem;
  }
}

.my-2 {
  margin: 2rem 0 !important;
}

.mb-2 {
  margin-bottom: 2rem !important;
}

.mb-4 {
  margin-bottom: 4rem !important;
}

.mt-2 {
  margin-bottom: 2rem !important;
}

.mt-4 {
  margin-bottom: 4rem !important;
}

/*---------- Home Page Styles----------*/

section {
  margin: var(--spacer) 0;
}

.site-logoo {
  display: none;
}

.openMenu,
.mainMenu,
.closeMenu {
  display: none;
  cursor: pointer;
}

.home-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-avatar {
  border-radius: 100%;
  width: 2.5rem;
  padding: 0.6rem;
  background-color: #e2e2e2;
}

.active {
  color: var(--clr-secondary);
}

.nav-primary ul {
  display: flex;
}

.nav-primary ul li {
  margin-right: 0.8rem;
}

.user-setup a:first-child {
  margin-right: 0.5rem;
}

.workflow-nav-special {
  display: flex;
  justify-content: space-between;

  align-items: center;
}

.workflow-nav-options {
  display: flex;
}

.workflow-nav-options li {
  margin-right: 2rem;
}

.workflow-nav-special button {
}

.help-cta-box {
  text-align: center;
}

.help-cta-search-box input {
  border-width: 1px;
  border-color: rgb(237, 237, 237);
  border-style: solid;
  border-radius: 25px;
  padding: 1rem 1rem;
  width: 50%;
  margin: 1rem 0;
}

.help-cta-search-box input:focus {
  border-color: var(--clr-dark-btn);
  transition: all 1s;
}

.help-cta-search-box button {
  margin-left: -6.5rem;
}

.help-articles-row {
  display: flex;
  list-style-type: disc;
  padding-left: 1rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

.help-articles-row > * {
  flex-basis: 100%;
}

.help-main-topic {
  border-width: 1px;
  border-color: rgb(236, 236, 236);
  border-style: solid;
  border-radius: 8px;
  padding: 2rem;
  text-align: center;
  font-weight: 600;
  font-size: 1rem;
}

.help-main-topic p:nth-child(1) {
  margin-bottom: 0.5rem;
}

.help-main-topic p:nth-child(2) {
  color: var(--clr-secondary);
}

.help-maintopics-row {
  display: flex;
  /* white-space: nowrap; */
  margin-bottom: 1rem;
}

.help-maintopics-row > * {
  flex-basis: 100%;
}

.help-maintopics-row > * + * {
  margin-left: 1rem;
}

.help-articles-row > * + * {
  margin-left: 2rem;
}

/* ANAYTLICS INVITE PAGE */

.invites-cta-box {
  text-align: center;
}

.invites-cta-box h1 {
  margin: 1rem 0;
}

.invites-cta-box p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.invites-cta-search-box input {
  border-width: 1px;
  border-color: rgb(237, 237, 237);
  border-style: solid;
  border-radius: 25px;
  padding: 1rem 1rem;
  width: 70%;
  margin: 0.5rem 0;
}

.invites-cta-search-box input:focus {
  border-color: var(--clr-dark-btn);
  transition: all 1s;
}

.invites-cta-search-box button {
  margin-left: -7.5rem;
}

/* ANALTYICS PAGE */

.sales-infobox h2 {
  margin: 1rem 0;
  padding: 0 2rem;
  font-size: 1.1rem;
  color: var(--clr-secondary);
}
.sales-infobox-stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  border-color: rgb(245, 244, 244);
  border-style: solid;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.05);
  border-radius: 40px;
}

.sales-infobox-stats p {
  font-size: 1.8rem;

  font-family: "Montserrat", sans-serif;
}

.analytics-timebox {
  font-weight: 500;
  border-width: 1px;
  border-color: rgb(226, 226, 226);
  border-style: solid;
  background-color: rgb(255, 255, 255);

  width: 158px;
  height: 331px;
}

.analytics-timebox li {
  margin-bottom: 0.5rem;
  padding: 1rem;
}

.analytics-timebox li:nth-child(1) {
  font-weight: bold;
}

.analytics-chart {
  border-width: 1px;
  border-color: rgb(226, 226, 226);
  border-style: solid;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);

  width: 599px;
  height: 456px;
}

.analytics-traffic {
  border-width: 1px;
  border-color: rgb(226, 226, 226);
  border-style: solid;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);

  padding: 1rem 0;
  width: 271px;
  height: 357px;
}

.analytics-graphbox-row {
  display: flex;
}

.analytics-graphbox-row > * + * {
  margin-left: 1rem;
}

.analytics-refferal-box {
  border-width: 1px;
  border-color: rgb(226, 226, 226);
  border-style: solid;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  padding: 0 1rem;

  width: 523px;
  height: 371px;
}

.analytics-refferal-box h4 {
  margin: 2rem 0;
}

.analytics-refferal-box li {
  background-color: #fafafa;
  margin: 1rem 0;
  font-weight: 500;
}
.ref-box-info img {
  width: 3rem;

  justify-content: space-between;

  border-radius: 5px;
}

.ref-box-info .fas {
  font-size: 0.5rem;
  padding-left: 0.5rem;
  color: #bec3be;
}

.ref-box-info .fas.active {
  font-size: 0.5rem;
  padding-left: 0.5rem;
  color: #17d417;
}

.ref-box,
.ref-box-info {
  display: flex;
  width: 100%;
  align-items: center;
}

.ref-map-box {
  border-width: 1px;
  border-color: rgb(226, 226, 226);
  border-style: solid;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  margin-left: 1rem;
  padding: 1.5rem;

  width: 529px;
  height: 371px;
}

.refferal-row {
  display: flex;
}

/* OLD PAGE CSS */

@media (min-width: 950px) {
}

.links-a li:first-child,
.links-b li:first-child,
.links-c li:first-child,
.links-d li:first-child,
.links-e li:first-child {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.links-a li,
.links-b li,
.links-c li,
.links-d li,
.links-e li {
  margin-bottom: 0.2rem;
  font-size: 0.9rem;
}

.footer-logo {
  margin-bottom: 1rem;
}

.fas {
  margin-right: 0.5rem;
}

.footer-links {
  margin: 2rem 0;
}

.footer-mini {
  margin: 0.2rem 0;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #8080805c;
  padding: 0.3rem 0;
}

.mini-a {
  display: flex;
  align-items: center;
}

.mini-a p {
  margin-right: 2rem;
}

.mini-b ul {
  display: flex;
}
.mini-b ul li {
  margin-right: 1rem;
}

hr {
  color: inherit;
}

/*---------- MEDIA QUERIES----------*/

/* Original */

@media only screen and (max-width: 600px) and (min-width: 200px) {
  .nav-primary,
  .user-setup {
    display: none;
  }

  .site-logo {
    display: none;
  }

  .site-logoo {
    display: none;
  }

  .mainMenu {
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: top 1s ease;
    display: none;
    background: linear-gradient(to right, #ffffff, #ffffff),
      url("/assets/logo.png");
    background-repeat: no-repeat;
  }

  .mainMenu ul li {
    font-size: 1.2rem;
    margin: 0.5rem 0;
  }

  .mainMenu ul li:nth-child(1) {
    margin-top: 1rem;
  }
  .mainMenu .closeMenu {
    display: block;
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 2rem;
    color: red;
  }
  .openMenu {
    display: block;
    position: absolute;
    right: 20px;
    font-size: 2rem;
    color: red;
  }

  .openMenu.invites {
    left: 20px;
  }

  .split {
    display: block !important;
    text-align: center !important;
    padding: 0 2rem !important;
  }

  .footer-mini,
  .mini-a,
  .mini-b {
    flex-direction: column !important;
  }

  .mini-a p,
  .mini-a img,
  .mini-a select {
    margin: 0.5rem 0 !important;
  }

  .mini-b ul {
    justify-content: space-around !important;
  }

  .footer-logo {
    text-align: center !important;
  }
}

@media only screen and (max-width: 1050px) and (min-width: 771px) {
}
/* MID Screen devices */

@media only screen and (max-width: 770px) and (min-width: 470px) {
  .site-logo {
    display: none;
  }

  .site-logoo {
    display: block;
    padding-top: 1rem;
  }

  .help-maintopics-row,
  .help-articles-row {
    flex-direction: column;
    align-items: normal;
    margin-bottom: 0;
  }

  .help-articles-row li {
    margin: 0.2rem 0;
  }

  .help-main-topic {
    margin-bottom: 1rem;
    align-self: normal;
    margin-left: 0;
  }

  .help-cta-search-box input {
    display: block;
    margin: 1rem auto;
    width: 100%;
  }

  .help-cta-search-box button {
    margin-left: 0;
  }

  .workflow-nav-special,
  .workflow-nav-options {
    flex-direction: column;
    align-items: center;
  }

  .workflow-nav-options li {
    margin-right: 0;
    margin-bottom: 0.5rem;
  }

  .invites-cta-search-box input {
    display: block;
    margin: 1rem auto;
    width: 100%;
    font-size: 0.8rem;
  }

  .invites-cta-search-box button {
    margin-left: 0;
  }

  .sales-infobox-stats {
    width: 100%;
  }

  .sales-infobox-stats p {
    font-size: 1.2rem;
  }

  .split > * + *,
  .analytics-graphbox-row > * + * {
    margin-left: 0;
  }

  .analytics-graphbox-row,
  .refferal-row {
    flex-direction: column;
  }

  .analytics-graphbox-row > *,
  .refferal-row > * {
    margin-bottom: 1rem;
    width: 100%;
    height: auto;
  }

  .analytics-timebox li {
    text-align: center;
  }

  .ref-map-box {
    margin-left: 0;
  }

  /* .analytics-graphbox-row > *,
  .refferal-row > * {
    margin: 1rem auto;
    width: auto;
  }

  */

  .analytics-traffic {
    width: auto !important;
    margin: 0 auto !important;
  }
}

/* Extremely small devices  */
@media only screen and (max-width: 470px) and (min-width: 220px) {
  .help-maintopics-row,
  .help-articles-row {
    flex-direction: column;
    align-items: normal;
    margin-bottom: 0;
  }

  .help-articles-row li {
    margin: 0.2rem 0;
  }

  .help-main-topic {
    margin-bottom: 1rem;
    align-self: normal;
    margin-left: 0;
  }

  .help-cta-search-box input {
    display: block;
    margin: 1rem auto;
    width: 100%;
  }

  .help-cta-search-box button {
    margin-left: 0;
  }

  .workflow-nav-special,
  .workflow-nav-options {
    flex-direction: column;
    align-items: center;
  }

  .workflow-nav-options li {
    margin-right: 0;
    margin-bottom: 0.5rem;
  }

  .invites-cta-search-box input {
    display: block;
    margin: 1rem auto;
    width: 100%;
    font-size: 0.8rem;
  }

  .invites-cta-search-box button {
    margin-left: 0;
  }

  .sales-infobox-stats {
    width: 100%;
  }

  .sales-infobox-stats p {
    font-size: 1.2rem;
  }

  .split > * + *,
  .analytics-graphbox-row > * + * {
    margin-left: 0;
  }

  .analytics-graphbox-row,
  .refferal-row {
    flex-direction: column;
  }

  .analytics-graphbox-row > *,
  .refferal-row > * {
    margin-bottom: 1rem;
    width: 100%;
    height: auto;
  }

  .analytics-timebox li {
    text-align: center;
  }

  .ref-map-box {
    margin-left: 0;
  }

  .analytics-traffic {
    width: auto !important;
    margin: 0 auto !important;
  }
}
