/* font-family: 'Raleway', sans-serif;
font-family: 'Montserrat', sans-serif; */

/*----------VARIABLES----------*/
:root {
  --clr-primary: #fff;
  --clr-secondary: #fc0404;
  --clr-heading: #362f2d;
  --clr-dark-btn: #1f1f1f;

  --spacer: 2rem;
}

/*---------- CSS RESET----------*/

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  border: 2px solid transparent;
  cursor: pointer;
  color: inherit;
  display: inline-block;
}

a:hover {
  border-bottom: 2px solid var(--clr-secondary);
  transition: border 0.5s;
}

form,
input,
button,
button:focus,
select {
  font-family: inherit;
  border: 0;
  font: inherit;
  margin: 0 0.2rem;
}

button:focus,
button:active {
  outline: none !important;
  box-shadow: none !important;
}

button:active {
  transform: translateY(4px) !important;
}

textarea:focus,
input:focus {
  outline: none;
}

.cancel-margin {
  margin: 0 !important;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
  -webkit-tap-highlight-color: transparent; /* For some Androids */
}

/*---------- General Styles----------*/

html {
  height: 100%;
}
body {
  font-family: "Raleway", sans-serif;
  background-color: var(--clr-primary);
  margin: 0 auto;
  max-width: 1140px;
  padding: 0.5rem;
  height: 100%;
}

h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
}

.btn {
  padding: 0.7rem 1rem;
  outline: 0;
  border-radius: 25px;
}

.btn-dark {
  background-color: var(--clr-dark-btn);
  color: var(--clr-primary);
  cursor: pointer;
}

.btn-red {
  background-color: var(--clr-secondary);
  color: var(--clr-primary);
  cursor: pointer;
}

.center-text {
  text-align: center;
}

.remove-p {
  padding: 0 !important;
}

.remove-m {
  margin: 0 !important;
}

header {
  @supports (-webkit-appearance: none) {
    .os-android & {
      min-height: calc(100vh - 56px);
    }
  }
}

/*---------- Layout Styles----------*/

.split {
  display: flex;
  flex-direction: column;
}

.split > * {
  flex-basis: 100%;
}

.split > * + * {
  margin-left: 1rem;
}

@media (min-width: 40em) {
  .split {
    flex-direction: row;
  }

  .container {
    padding: 0 3rem;
  }
}

.my-2 {
  margin: 2rem 0 !important;
}

/*---------- Home Page Styles----------*/

section {
  margin: var(--spacer) 0;
}

.active-nav {
  color: var(--clr-secondary);
}

.openMenu,
.mainMenu,
.closeMenu {
  display: none;
  cursor: pointer;
}

.home-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
}

.nav-primary ul {
  display: flex;
}

.nav-primary ul li {
  margin-right: 0.8rem;
}

.user-setup a:first-child {
  margin-right: 0.5rem;
}

.user-setup a:hover {
  border: 2px solid transparent;
}

@media (min-width: 860px) {
}

.pricing_tagbox {
  margin: 1.5rem 0 3rem 0;
  text-align: center;
}

.pricing_tagbox h3 {
  font-family: "Raleway", sans-serif !important;
  letter-spacing: 0.1rem;
  margin: 0.5rem 0;
  font-weight: 700;
}

.pricing_cardbox {
  border: 1px solid #e2e2e2;
  display: flex;
}

.pricing_cardbox > * {
  flex-basis: 100%;
}

.pricing_card {
  padding: 0 2rem;
  border-right: 1px solid #e2e2e2;
}
.pricing_card h3 {
  font-family: "Raleway", sans-serif !important;
  font-weight: 700;
  margin-bottom: 2rem;
  padding-top: 2rem;
  font-size: 1.6rem;
}

.pricing_card li {
  margin: 1rem 0;
  border-bottom: 1px solid #e2e2e2;
  padding: 0.5rem 0;
  font-weight: 600;
}

.price_line {
  display: flex;
  font-weight: 600;
  align-items: center;
  max-width: 90%;
}

.price_line h3 {
  font-family: "Montserrat", sans-serif !important;
  margin-right: 1rem;
  font-weight: 700;
  font-size: 2rem;
}

.price_line p {
  padding-left: 1rem;
}

.pricing_card button {
  margin-bottom: 2rem;
  width: 100%;
}

.pricing_card li:last-of-type {
  margin-bottom: 2rem;
}

.pricing_card ul li::before {
  content: "\2713";
  font-weight: bold;
  padding-right: 1rem;
}

.pricing_faq {
  max-width: 85%;
  margin: 0 auto;
}

.pricing_faq p {
  padding: 1rem 0;
}

.pricing_faq h3 {
  margin: 1rem 0 !important;
}
.pricing_faq button {
  font-weight: 600;
  border-bottom: 1px solid #e2e2e2;
  transform: none !important;
}

.pricing_cta h3 {
  font-family: "Raleway", sans-serif !important;
  margin: 2rem 0;
  font-weight: 700;
  font-size: 1.5rem;
}

.pricing_cta {
  text-align: center;
}

.pricing_cta button {
  margin-bottom: 2rem;
}

.links-a li:first-child,
.links-b li:first-child,
.links-c li:first-child,
.links-d li:first-child,
.links-e li:first-child {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.links-a li,
.links-b li,
.links-c li,
.links-d li,
.links-e li {
  margin-bottom: 0.2rem;
  font-size: 0.9rem;
}

.footer-logo {
  margin-bottom: 1rem;
}

.fas {
  margin-right: 0.5rem;
}

.footer-links {
  margin: 2rem 0;
}

.footer-mini {
  margin: 0.2rem 0;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #8080805c;
  padding: 0.3rem 0;
}

.mini-a {
  display: flex;
  align-items: center;
}

.mini-a p {
  margin-right: 2rem;
}

.mini-b ul {
  display: flex;
}
.mini-b ul li {
  margin-right: 1rem;
}

hr {
  color: inherit;
}

/*---------- MEDIA QUERIES----------*/

@media (max-width: 770px) {
  .home-nav {
    flex-direction: column;
  }

  /* .home-nav > * {
    margin: 0.5rem 0;
  } */

  .split {
    flex-direction: column;
  }

  .links-a {
    margin-left: 1rem !important;
  }

  .links-a,
  .links-b,
  .links-c,
  .links-d {
    margin-bottom: 1rem;
  }
}

/* Original */
@media (max-width: 360px) {
  .split {
    display: block !important;
    text-align: center !important;
    padding: 0 2rem !important;
  }

  .footer-logo {
    margin-left: 4rem !important;
  }
}

@media only screen and (max-width: 600px) and (min-width: 200px) {
  .pricing_cardbox {
    flex-direction: column;
    padding: 0 1rem;
    align-items: normal;
  }

  .pricing_card {
    border: 1px solid #e2e2e2;
    margin: 1rem 0;
  }

  .pricing_card:nth-child(1) {
    margin-top: 2rem;
  }

  .price_line {
    flex-direction: column;
  }

  .price_line h3 {
    font-size: 2rem !important;
  }

  .nav-primary,
  .user-setup {
    display: none;
  }

  .mainMenu {
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: top 1s ease;
    display: none;
    background: linear-gradient(to right, #ffffff, #ffffff),
      url("/assets/logo.png");
    background-repeat: no-repeat;
  }

  .mainMenu ul li {
    font-size: 1.2rem;
    margin: 0.5rem 0;
  }

  .mainMenu ul li:nth-child(1) {
    margin-top: 1rem;
  }
  .mainMenu .closeMenu {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 2rem;
    color: red;
  }
  .openMenu {
    display: block;
    position: absolute;
    right: 20px;
    font-size: 2rem;
    color: red;
  }

  .split {
    display: block !important;
    text-align: center !important;
    padding: 0 2rem !important;
  }

  .footer-mini,
  .mini-a,
  .mini-b {
    flex-direction: column !important;
  }

  .mini-a p,
  .mini-a img,
  .mini-a select {
    margin: 0.5rem 0 !important;
  }

  .mini-b ul {
    justify-content: space-around !important;
  }

  .footer-logo {
    text-align: center !important;
  }
}

/* Extremely small devices  */
@media only screen and (max-width: 470px) and (min-width: 220px) {
  .pricing_card h3 {
    font-size: 1.2rem;
  }

  .pricing_card li {
    font-size: 0.9rem;
  }

  .pricing_card ul li::before {
    padding-right: 0.3rem;
  }
  .course_stats ul {
    flex-direction: column;
  }

  .course_stats ul li h3 {
    margin-right: 0;
  }

  .intro-content ul li {
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
    padding: 1rem 0;
  }

  .intro-content ul li > * {
    margin: 1rem 0;
  }

  .btn-red {
    align-self: normal;
  }

  .intro-content ul li p:first-of-type::before {
    content: "";
  }

  .home-nav {
    align-items: baseline;
  }
}
